<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur la page principale !</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
<div class="header">
    <h1>{{ header_title }}</h1>
    <button>CONNEXION</button>
</div>
<div class="content-container">
    <h2>Consulter tous mes blabla</h2>
</div>

</body>
</html>